<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="appointments">
            <h2><span>Appointments</span> {{appointments.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Subject</span></dt>
                <dd>
                    <span>{{appointments.subject}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{appointments.description}}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{appointments.date}}</span>
                </dd>
                <dt><span>Duration</span></dt>
                <dd>
                    <span>{{appointments.duration}}</span>
                </dd>
                <dt><span>Notes</span></dt>
                <dd>
                    <span>{{appointments.notes}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    <span *ngFor="let user of appointments.users; let last = last">
                        {{user.login}}{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/appointments', appointments.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
